/* =================================
  Element Styles
==================================== */


@font-face {
  font-family: BoardTitle;
  src: url(EraserDust.ttf);
}

* {
  box-sizing: border-box;
}
body {
  font-family: BoardTitle;
  background-image: url("Chalkboard.jpg");
  color: black;
  font-size: 17px
}

h1,
p,
form button {
  color: white;
}
h1 {
  font-family: BoardTitle;
  line-height: .65;
  margin-top: .5em;
  margin-bottom: 0;
}
h2 {
  margin-top: 0;
  font-family: BoardTitle;
  color: white;
}
p {
  font-size: 1.1em;
  text-shadow: 0 1px 0 rgba(0,0,0, .25);
}
form {
  width: 70%;
  /*background: white;*/
  display: inline-block;
  overflow: hidden;
  display: -webkit-flex;
  display: flex;
  border-radius: .2em;
  /*border: solid 4px white;*/
  box-shadow: 0 1px 14px rgba(0,0,0, .12);
}
form button {
  width: 20%;
  margin: 10px;
  border-radius: 10px;
  height: 46px;
  padding: 0 1em;
  font-size: 1em;
  background: #111111;
  min-width: 4em;
}
ul {
  list-style: none;
  padding: 0;
  margin: 2em 0 1em;
}
ul li {
  padding: 1.5em;
  background-image: /*url(bookmark.png),*/ url(Corkboard.png);
  background-repeat:no-repeat;
  background-position:0% 8%,center;
  background-size: /*95% 60px,*/ 100% 100%;
  border-radius: 0.3em;
  /*border: solid 4px rgba(88, 183, 205, .2);
  border-bottom: solid 2px rgba(88, 183, 205, .2);*/
  position: relative;
  min-height: 9em;
  min-width: 15em;
  max-width: 20em;
  /*padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 24px;*/
}
button {
  cursor: pointer;
}
input,
button {
  border: none;
  outline: none;
}
header {
  text-align: center;
  background: linear-gradient(90deg, #d4eece, #55b3d0, #1e7eb7),
              url('/image/aust.jpg') no-repeat;
              background-blend-mode: multiply;
              background-size: cover;
}
input {
  margin: 10px;
  border-radius: 10px;
  padding: 12px;
  font-size: 1.15em;
  width: 90%;
  height: 10%;
}
li span,
li input[type=text] {
  color: #707070;
  font-size: 1.3em;
  margin-bottom: .3em;
}
li input[type=text] {
  padding: .2em;
  width: 95%;
  border: 1px dotted rgba(0,0,0, .2);
}
li label {
  font-size: .9em;
  display: block;
  color: rgba(112, 112, 112, .55);
}
li span,
li input[type=text]:first-child {
  display: block;
}
li button {
  font-size: .9em;
  margin-top: 1.65em;
  border-radius: .3em;
  padding: .4em .6em;
}
  
button.remove {
  float:right;
  margin-top: 20px;
}

.remove:after {
  background:url("delete.png")no-repeat 0 0;
  display: inline-block;
  content: "";
  background-size: 100%;
  width: 2em;
  height: 2em;
  
}

button.edit {
  float:left;
  margin-top: 20px;
}

.edit:after {
  background:url("edit.png")no-repeat 0 0;
  display: inline-block;
  content: "";
  background-size: 100%;
  width: 2em;
  height: 2em;
}


li button:last-child {
  background: rgba(88, 183, 205, .5);
}
.wrapper {
  width: 100%;
  max-width: 900px;
  margin: 2.5em auto;
  border-radius: .35em;
  overflow: hidden;
  box-shadow: 0 0 26px rgba(0,0,0, .13);
}
div > input:last-child {
  font-size: 1em;
  margin-left: 6px;
}
div > label {
  color: #767676;
}

 /*responded*/

.responded {
  transition: 0.4s;
  border-color: rgba(88, 183, 205, .9);
}
.responded label {
  transition: 0.4s;
  color: rgba(88, 183, 205, 1);
}
/*
=================================
  Media Queries
====================================*/

@media (min-width: 0) and (max-width: 768px) {
  header {
    padding: 1.25em;
  }
  h1 {
    font-size: 3.6em;
    margin: .3em 0 0;
  }
  ul li {
    margin-bottom: 1em;
  }
  form {
    width: 50%;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin: auto;
    margin-top: 2.5em;
  }
  form button {
    height: 50%;
    padding: 12px 0;
    margin-top: .10em;
  }
  form input {
    font-size: 1em;
    text-align: center;
  }
  .wrapper {
    margin: 0;
  }
  .main {
    padding: 2em 1em .75em;
  }
}

@media (min-width: 769px) {
  header {
    height: 280px;
    padding: 2.5em 1em 1em;
    background-position: 0 -95px;
  }
  .main > div {
    float: right;
    display: inline-block;
    margin-top: 12px;
    margin-right: 1.25%;
  }
  div > label {
    margin-top: 12px;
  }
  h1 {
    font-size: 5.8em;
  }
  h2 {
    font-size: 1.9em;
    margin-left: 1.25%;
  }
  form {
    margin: 4.15em auto 0;
    z-index: 3000;
    position: relative;
  }
  .wrapper {
    width: 90%;
  }
  .main {
    padding: 3.8em 1.5em .75em;
    position: relative;
    z-index: 10;
  }
  ul {
    display: -webkit-flex;
    display: flex;
    clear: both;

    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 1.25em;
  }
  ul li {
    -webkit-flex-grow: 1;
    flex-grow: 0.2;
    -webkit-flex-basis: 47.5%;
    flex-basis: 47.5%;
    margin: 0 1.25% 1em;
  }
}
@media (min-width: 880px) {
  ul li {
    -webkit-flex-basis: 20%;
    flex-basis: 20%;
  }
}