body {
  min-height: 100vh;

}

.navbar-static-top {
  margin-bottom: 19px;
}

.navbar-brand:hover {
  color: white !important;
}

#navbar {
  font-family: 'EraserDust';
  src: url('static/EraserDust.ttf');
  text-align: center;
}