{% extends "layout.html" %}
{% block head %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jQuery UI Sortable - Default functionality</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='card.css') }}">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{url_for('static', filename='script.js') }}"></script>
    <script src="{{url_for('static', filename='card_storage.js') }}"></script>

{% endblock %}
{% block body %}

    <div id=" sortable">
        <div id="nya" class="arrange" ondrop="drop(event)" ondragover="allowDrop(event)">
            <label>Not yet arranged</label><br><br>

            <div class="card" id="new-card" draggable="true" ondragstart="drag(event)">
                <header><input id="new-card-title" class="new-board-card" type="text" placeholder="To Do"></header><br>
                <article class="card_text">
                <textarea id = "new-card-description" placeholder="What to do?" style="border-radius:5px; border: 0.1em solid #ccc; margin: 0px; max-width:208px; width: 208px; height: 128px;"></textarea>
                </article>
                <button id="add-card" type="submit" class="btn btn-primary" >Save card</button>
            </div>

            <div id="card_objects"></div>



        </div>
        <div id="new" class="arrange" ondrop="drop(event)" ondragover="allowDrop(event)">
            <label>New</label><br><br>
        </div>
        <div id="inp" class="arrange" ondrop="drop(event)" ondragover="allowDrop(event)">
            <label>In progress</label><br><br>
        </div>
        <div id="review" class="arrange" ondrop="drop(event)" ondragover="allowDrop(event)">
            <label>Review</label><br><br>
        </div>
        <div id="done" class="arrange" ondrop="drop(event)" ondragover="allowDrop(event)">
            <label>Done</label><br><br>
        </div>

    </div>
{% endblock %}