{% extends "layout.html" %} {% block head %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>jQuery UI Sortable - Default functionality</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='card.css') }}">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{{url_for('static', filename='script.js') }}"></script>
<script src="{{url_for('static', filename='card_storage.js') }}"></script>

{% endblock %} {% block body %}
<center>
    <div id="board" class="corkboard" style="margin-top: 30px;">
        <div id="not_yet_arranged" class="arrange" ondrop="drop(event)" ondragover="allowDrop(event)">
            <div class="imagewrap">
                <img class=" postit_pack " src="{{ url_for( 'static', filename='postit-pack-plus.png' ) }} ">
                <button id="new_card_button" data-toggle="modal" data-target="#myModal" class="new_card "></button>
            </div>
        </div>
        <div id="new" class="arrange" ondrop="drop(event)" ondragover="allowDrop(event)">
            <label>New</label><br><br>
        </div>
        <div id="in_progress" class="arrange" ondrop="drop(event)" ondragover="allowDrop(event)">
            <label>In progress</label><br><br>
        </div>
        <div id="review" class="arrange" ondrop="drop(event)" ondragover="allowDrop(event)">
            <label>Review</label><br><br>
        </div>
        <div id="done" class="arrange" ondrop="drop(event)" ondragover="allowDrop(event)">
            <label>Done</label><br><br>
        </div>
    </div>
</center>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div id="modal_card" class="modal_card">
            <div class="modal-header">
                <img  src="{{ url_for('static', filename='pin2.png') }}" id="pin" width="20%" height="10%" class="close" data-dismiss="modal"></img>
                <center>
                    <h4 class="modal-title">Write a new Postit</h4>
                </center>
            </div>
            <center>
                <div><br>
                    <input class="card_input" placeholder="Title" id="new-card-title"></input><br><br>
                    <textarea class="card_text" placeholder="Description" id="new-card-description"></textarea>
                </div>
            </center>

            <div class="modal-footer">
                <button id="add-card">Save</button>
                <button id="edit-card-button">Edit</button>
                <button type="button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}