{% extends "layout.html" %}
{% block head %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jQuery UI Sortable - Default functionality</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='card.css') }}">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{url_for('static', filename='script.js') }}"></script>
    <script src="{{url_for('static', filename='card_storage.js') }}"></script>

{% endblock %}
{% block body %}
    <div id="board" class="corkboard" style="margin-top: 30px;">
        <div id="not_yet_arranged" class="arrange" ondrop="drop(event)" ondragover="allowDrop(event)">
            <button id="new-card" type="submit" class="btn-primary" data-toggle="modal" data-target="#exampleModal">New card</button>
            <!--<div class="card" id="new-card">
                <header><input id="new-card-title" class="new-board-card" type="text" placeholder="To Do"></header><br>
                <article class="card_text">
                <textarea id = "new-card-description" placeholder="What to do?"></textarea>
                </article>
                <button id="add-card" type="submit" class="btn btn-primary">Save card</button>
            </div>-->
        </div>
        <div id="new" class="arrange" ondrop="drop(event)" ondragover="allowDrop(event)">
            <label>New</label><br><br>
        </div>
        <div id="in_progress" class="arrange" ondrop="drop(event)" ondragover="allowDrop(event)">
            <label>In progress</label><br><br>
        </div>
        <div id="review" class="arrange" ondrop="drop(event)" ondragover="allowDrop(event)">
            <label>Review</label><br><br>
        </div>
        <div id="done" class="arrange" ondrop="drop(event)" ondragover="allowDrop(event)">
            <label>Done</label><br><br>
        </div>
    </div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <img src="{{ url_for('static', filename='pin-icon.png') }}" class="close" aria-label="Close" width="60px" height="70px">
        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
          <form>
        <h4 class="modal-title" id="exampleModalLabel"></h4>
              <input class="newCardTitle" type="text" id="name" placeholder="Title"  name="name" >
            <textarea type="text" style="display: none;"></textarea>
          </form>
      </div>
      <div class="modal-body">
        <form>
            <input class="newCard" type="text" id="name" placeholder="What to do" name="name" >
            <textarea type="text" style="display: none;"></textarea>
        </form>
      </div>
    </div>
  </div>

</div>
{% endblock %}