<!DOCTYPE html>
<html lang="en">
<head>
    <title>KENG-uru</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KENG-uru</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='navbar-static-top.css') }}">
    <script src="{{ url_for('static', filename='jquery-3.1.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
    {% block head %}{%endblock%}
</head>
<body>
<div id="navbar">
<img class="inline" id="delete_card" src="{{ url_for('static', filename='cangaroo-011.jpg') }}" width="90px" height="70px"
     ondrop="drop(event)" ondragover="allowDrop(event)" style="display: inline-block">
</div>
<!--
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand" href="{{ url_for('show_start_html') }}">PLAN-GURU</a>
                <a href="{{ url_for('show_start_html') }}" class="navbar-left"><img
                        src="{{ url_for('static', filename='kenguru.jpg') }}" width="90px" height="70px"></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-left">
                    <img id="delete_card" src="{{ url_for('static', filename='delete.png')}}" width="90px" height="70px"
                          ondrop="drop(event)" ondragover="allowDrop(event)" style="display: inline-block">
                </ul>
            </div>
        </div>
    </nav>-->
{% block body %}{% endblock %}
</body>
</html>

