<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>RSVP App</title>
  <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
   <link rel="stylesheet" href="{{ url_for('static', filename='kenguru.css') }}">
<body>
  <div class="wrapper">
    <header>
      <h1>PLAN GURU</h1>
      <form id="registrar">
        <input type="text" id="new-board-title" name="name" placeholder="Board title">
        <button type="submit" id="add-button" name="submit" value="submit">Submit</button>
      </form>
    </header>

    <div class="main">
      <h2>Boards</h2>
      <ul id="invitedList">
      </ul>

    </div>
  </div>

   <script src="{{ url_for('static', filename='jquery-3.1.1.min.js') }}"></script>
   <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
